
/Figures
/matNMR
/Data
/startup.m
/winedata.mat
/Data2d.mat
/matlab.mat
/matlab2.mat
/mc_read_bin_hist.mat
/mc_read_data_hist.mat
/peaks.mat
/ReadTDMExperimentHistory.mat
/Simulations
/Toolboxes
/scripts/Laplace2D
/scripts/Laplace2D/processData.m
/scripts/Laplace2D/processData2.m
/scripts/Laplace2D/exp_decay.m
/scripts/Laplace2D/make_data_struct.m
/scripts/Laplace2D/naive_fit.m